POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_PORT=5000

# WB API
WB_API_TOKEN=replace_me
WB_TARIFFS_URL=https://common-api.wildberries.ru/api/v1/tariffs/box

# Scheduler
FETCH_CRON=0 * * * *
SHEETS_CRON=10 * * * *
APP_TIMEZONE=Europe/Moscow
LOG_LEVEL=info

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_JSON=replace_me
GOOGLE_SHEETS_IDS=replace_me,replace_me_2
GOOGLE_SHEETS_SHEET_NAME=stocks_coefs
GOOGLE_SHEETS_COEF_FIELD=boxDeliveryAndStorageCoeff
